@import "compass/css3";

html, body{
	font-size:1.2vw;
	color: #dfdfdf;
	background-color: #bba686;
}

a {
  color: #dfdfdf;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 2vh;
	padding-bottom: 2vh;
}


#linkedIn {
	font-size: 1.4vw;
}

.section-1 {
	background: #063647;
}

.section-2 {
	background-color: #052D3D;
}

.section-3 {
	background-color: #0E282E;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.nav-item {
	width: fit-content;
}

.avatar{
	height:50vh;
	width: 40vw;
	border-radius: 50%;
	margin-top: 5vh;
	margin-bottom: 5vh;
	align-content: center;
}


.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

#projects {
	background-color: #8aa4ab;
}

#projectPhoto {
	width: 50vw;
	height: 45vh;
	align-items: left;
}

@media (min-width: 1805px) {
	#projectPhoto {
		width: 55vw;
		height: 44vh;
		align-items: left;
	}

	#projectDescription {
		align-items: right;
		width: 60%;
		margin-left: 2vw;
	}
  }

#projectArticle {
	display: flex;
}

.projectTitle {
	font-size: 3.5vw;
	text-align: center;
	margin-bottom: 10vh;
}

.project-figure {
	/* margin: 0 auto 1rem auto; */
	max-height: 50vh;
	max-width: 60vw;
}

#projectDescription {
	align-items: right;
	width: 45%;
	margin-left: 2vw;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: .2vw solid rgba(7, 59, 79, 0.5);
	margin-bottom: 7vh;
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 70%;
	margin: 0 auto;
	font-size: 1.3vw;
	margin-bottom: 10vh;
}

.void-background {
	background-color: transparent; 
}

.educationLogos {
	height:34vh ;
	width:20vw ;
	/* position: static; */
}

#about {
	/* background-color: #bba686; */
	background: linear-gradient(to bottom, #bba686,#bba686, #bba686,#bba686, #bba686,#bba686,#bba686, #e3ded9);
}

#education {
	/* background-color: #e3ded9; */
	/* margin-bottom: 20vh; */
	height: 80vh;
	background: linear-gradient(to bottom, #e3ded9,#e3ded9, #e3ded9,#e3ded9, #e3ded9,#e3ded9,#e3ded9, #8aa4ab);
}

.educationHeader {
	font-size: 3.5vw;
	text-align: center;
	color: #bba686;
	margin-bottom: 8vh;
}

#educationInformation {
	justify-content: space-between;
	display: flex;
	background-color: #e3ded9;
	height: 40vh;
}

.educationPannels {
	margin-top: 5vh;
	margin-bottom: 20vh;
	display: flex;
	justify-content: space-around;
	margin-left: 2vw;
	width: 45vw;
}

h2 {
	font-size: 2.5vw;
}

.heyText {
	color: #e3ded9;
	font-size: 2.5vw;
	margin-bottom: 2vh;
}

.educationText {
	color: #bba686;
	margin-top: 2vh;
}

#firstText {
	margin-top: 3vh;
}

#educationText {
	margin-top: 2vh;
}

.nav-left {
	margin-left: -9vw;
}

.nav-menu{
	margin-right: -9vw;
}

#technologies {
	background-color: #416270;
}

.technologiesHeader {
	font-size: 3.5vw;
	text-align: center;
	margin-top: 5vh;
	color: #dfdfdf;
	margin-bottom: 8vh;
}

#technologyRow {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10vh;
	margin-right: 2vw;
}

#technologyIcon {
	width: 15vw;
	height: 15vh;
}

.auto-type {
	font-size: 3.0vw;
	white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    border-right: 3px solid #dfdfdf; /* Initial border color */
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    50% {
        border-color: transparent; /* Blinking color */
    }
}

.projectHeader {
	display: grid;
	margin-bottom: 7vh;
}

#projectTechnologies {
	font-size: .8vw;
	color: rgb(200, 197, 197);
	font-style: italic;
}


.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(340deg 100% 16%) 0%,
      hsl(340deg 100% 32%) 8%,
      hsl(340deg 100% 32%) 92%,
      hsl(340deg 100% 16%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .pushable:hover {
    filter: brightness(110%);
  }
  .pushable:hover .front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
.pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
    outline: none;
}





.buttonSection {
	display: flex;
	justify-content: space-around;
	margin-top: 5vh;
}

.draw-border {
	box-shadow: inset 0 0 0 4px #58afd1;
	color: #58afd1;
	transition: color 0.25s 0.083333333s;
	position: relative;
}
  
.draw-border::before,
.draw-border::after {
	border: 0 solid transparent;
	box-sizing: border-box;
	content: '';
	pointer-events: none;
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	right: 0;
}
  
.draw-border::before {
	border-bottom-width: 4px;
	border-left-width: 4px;
}
  
.draw-border::after {
	border-top-width: 4px;
	border-right-width: 4px;
}

.draw-border:hover {
	color: #ffe593;
}
  
.draw-border:hover::before,
.draw-border:hover::after {
	border-color: #ffe593;
	transition: border-color 0s, width 0.25s, height 0.25s;
	width: 100%;
	height: 100%;
}
  
.draw-border:hover::before {
	transition-delay: 0s, 0s, 0.25s;
}
  
.draw-border:hover::after {
	transition-delay: 0s, 0.25s, 0s;
}
  

.btn {
	background: none;
	border: none;
	cursor: pointer;
	line-height: 1.5;
	font: 600 1.05vw 'Roboto Slab', sans-serif;
	padding: 2vh 3vw;
	letter-spacing: 0.05rem;
}
  
.btn:focus {
	outline: .4vw dotted #55d7dc;
}

#toprightItem {
	font-size: 1.3vw;
}

#topleftIcon {
	font-size: 1.7vw;
}

#linkedinIcon {
	margin-left: 1vw;
}

#githubIcon {
	margin-left: 1vw;
	margin-top: .2vh;
}

.iconContainer {
    position: relative;
	transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    width: 12vw;
    height: 18vh;
    display: grid;
}

#iconName {
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
	font-size: .8vw;
	margin-top: 2vh;
}

.iconContainer:hover {
    transform: scale(1.5);
    filter: brightness(1.2);
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    cursor: pointer;
}

.iconContainer:hover #iconName {
    opacity: 1;
}


#contact {
	display: grid;
	justify-content: center;
}





